/* Essential practise with JS nested functions */
h1{
    text-align: center;
    color: darkgrey;
}
h3{
    text-align: center;
    color: darkgrey;
}
p{
    text-align: center;
    color: darkgrey;
}
table{
    color: darkgrey;
}